### OS files ###
.DS_Store
Thumbs.db

### Java ###
*.class
*.log

### Build outputs ###
/out/
/bin/
/target/
/build/
/.gradle/

### IntelliJ IDEA ###
/.idea/
/*.iml

### Eclipse ###
/.project
/.classpath
/.settings/

### VS Code ###
/.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# (Opcional) Kotlin cache (si usas Kotlin)
/.kotlinc/